<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />

        <title>Trivia.io</title>
    </head>
    <body>
        <!-- Vue App -->
        <div id="app">
            <div v-if="!quizActive" class="lobby">
                <p class="lobby__room-code">{{room}}</p>
                <div class="lobby__user-list">
                    <p v-for="user in userList" :key="user">{{user}}</p>
                </div>
                <button @click="generateQuiz" class="btn">Generate Quiz</button>
            </div>

            <div v-if="quizActive && questionInSession" class="quiz">
                <button @click="getQuestion" class="btn">Get Question</button>
                <p class="quiz__question" v-html="question"></p>
                <div class="quiz__choices">
                    <button
                        @click="lockInAnswer"
                        class="btn quiz__choice"
                        v-for="choice in choices"
                        :key="choice"
                        v-html="choice"
                    ></button>
                </div>
                <ul>
                    <li v-for="user in usersInfo" :key="user">
                        {{user.username}} - {{user.points}}
                    </li>
                </ul>
            </div>

            <div v-if="quizActive && !questionInSession" class="rankings">
                <div class="rankings__user-list">
                    <p v-for="user in usersInfo" :key="user.name">
                        {{user.username}} - {{user.points}}
                    </p>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>

        <!-- Vue App -->
        <script>
            'use strict'
            const app = Vue.createApp({
                data() {
                    return {
                        questionInSession: true,
                        quizActive: false,
                        displayAnswer: false,
                        userGuess: '',
                        userPoints: 0,
                        username: '',
                        usersInfo: [],
                        userList: [],
                        room: '',
                        question: '',
                        answer: '',
                        choices: [],
                    }
                },
                watch: {
                    quizQuestions(questions) {
                        if ((questions = 0)) {
                            this.quizActive = false
                        }
                    },
                },
                methods: {
                    lockInAnswer(e) {
                        this.userGuess = e.target.innerHTML
                        document
                            .querySelectorAll('.quiz__choice')
                            .forEach((choice) => {
                                if (choice.innerHTML == this.userGuess) {
                                    choice.classList.add('btn--highlight')
                                } else {
                                    choice.classList.add('semi-transparent')
                                }
                                choice.setAttribute('disabled', 'disabled')
                            })
                        this.showAnswer()
                    },
                    showAnswer() {
                        document
                            .querySelectorAll('.quiz__choice')
                            .forEach((choice) => {
                                if (choice.innerHTML != this.answer) {
                                    choice.classList.add('invisible')
                                    choice.classList.remove('semi-transparent')
                                }
                            })
                        this.checkAnswer()
                    },
                    checkAnswer() {
                        if (this.userGuess == this.answer) {
                            this.userPoints++
                            socket.emit('incrementPoints')
                        }
                    },
                    shuffleArray(a) {
                        for (let i = a.length - 1; i > 0; i--) {
                            const j = Math.floor(Math.random() * (i + 1))
                            ;[a[i], a[j]] = [a[j], a[i]]
                        }
                        return a
                    },
                    generateQuiz() {
                        socket.emit('generateQuiz', () => {
                            this.getQuestion()
                        })
                        this.quizActive = true
                        this.userPoints = 0
                    },
                    getQuestion() {
                        socket.emit('getQuestion')
                        this.displayAnswer = false
                    },
                },
            }).mount('#app')
        </script>

        <!-- Socket Events && General -->
        <script>
            //Options | Parameters | Query
            const { username, room } = Qs.parse(location.search, {
                ignoreQueryPrefix: true,
            })
            app.username = username
            app.room = room

            //Socket Events
            const socket = io()
            //Server => Browser
            socket.emit('join', { username, room }, (error) => {
                if (error) {
                    alert(error)
                    location.href = '/'
                }
            })

            socket.on('showQuestion', ({ question, answer, choices }) => {
                choices = app.shuffleArray(choices)
                app.question = question
                app.answer = answer
                app.choices = choices
            })

            socket.on('updateScores', (userList) => {
                app.usersInfo = userList
            })

            socket.on('usersList', ({ users }) => {
                app.userList = users.map((user) => user.username)
                app.usersInfo = users
            })

            socket.on('startQuiz', () => {
                app.quizActive = true
                app.userPoints = 0
            })

            socket.on('endQuiz', () => {
                app.quizActive = false
            })
        </script>
    </body>
</html>
