<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Trivia.io</title>
    </head>
    <body>
        <!-- Vue App -->
        <div id="app">
            <button @click="generateQuiz" class="btn">Generate Quiz</button>
            <button v-if="quizAcitve" @click="getQuestion" class="btn">
                Get Question
            </button>
            <p>{{room}}</p>
            <p v-for="user in userList" :key="user">
                {{user}} - {{userPoints}}
            </p>
            <div v-if="quizAcitve" class="quiz">
                <p v-html="question"></p>
                <button
                    @click="lockInAnswer"
                    class="btn choice"
                    v-for="choice in choices"
                    :key="choice"
                    v-html="choice"
                    :disabled="lockedInAnswer"
                ></button>
                <p v-if="displayAnswer" v-html="answer"></p>
            </div>
        </div>

        <!-- Scripts -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>

        <!-- Vue App -->
        <script>
            'use strict'
            const app = Vue.createApp({
                data() {
                    return {
                        quizAcitve: false,
                        lockedInAnswer: false,
                        displayAnswer: false,
                        userGuess: '',
                        userPoints: 0,
                        username: '',
                        userList: [],
                        room: '',
                        question: '',
                        answer: '',
                        choices: [],
                    }
                },
                watch: {
                    quizQuestions(questions) {
                        if ((questions = 0)) {
                            this.quizAcitve = false
                        }
                    },
                },
                methods: {
                    lockInAnswer(e) {
                        this.lockedInAnswer = true
                        this.userGuess = e.target.innerHTML
                        document
                            .querySelectorAll('.choice')
                            .forEach((choice) => {
                                if (!choice.innerHTML == this.answer) {
                                    choice.setAttribute('disabled', 'disabled')
                                    choice.addClass('semi-transparent')
                                }
                            })
                        this.showAnswer()
                    },
                    showAnswer() {
                        this.displayAnswer = true
                        this.checkAnswer()
                    },
                    checkAnswer() {
                        console.log(this.userGuess, this.answer)
                        if (this.userGuess == this.answer) {
                            this.userPoints++
                            socket.emit('incrementPoints')
                        }
                    },
                    shuffleArray(a) {
                        for (let i = a.length - 1; i > 0; i--) {
                            const j = Math.floor(Math.random() * (i + 1))
                            ;[a[i], a[j]] = [a[j], a[i]]
                        }
                        return a
                    },
                    generateQuiz() {
                        socket.emit('generateQuiz', () => {
                            this.getQuestion()
                        })
                        this.quizAcitve = true
                        this.userPoints = 0
                    },
                    getQuestion() {
                        socket.emit('getQuestion')
                        this.lockedInAnswer = false
                        this.displayAnswer = false
                    },
                },
            }).mount('#app')
        </script>

        <style>
            * {
                box-sizing: border-box;
            }
            .semi-transparent {
                opacity: 0.5 !important;
            }
            .btn {
                cursor: pointer;
                padding: 5px 10px;
                background: teal;
                border: none;
                color: white;
                margin: 0 10px;
            }
            .btn:hover {
                background: white;
                border: 1px solid teal;
                color: teal;
            }
        </style>

        <!-- Socket Events && General -->
        <script>
            //Options | Parameters | Query
            const { username, room } = Qs.parse(location.search, {
                ignoreQueryPrefix: true,
            })
            app.username = username
            app.room = room

            //Socket Events
            const socket = io()
            //Server => Browser
            socket.emit('join', { username, room }, (error) => {
                if (error) {
                    alert(error)
                    location.href = '/'
                }
                console.log(`${username} has joined room ${room}!`)
            })

            socket.on('showQuestion', ({ question, answer, choices }) => {
                choices = app.shuffleArray(choices)
                app.question = question
                app.answer = answer
                app.choices = choices
                console.log(question, answer)
                console.table(choices)
            })

            socket.on('updateScores', (userList) => {
                console.table(userList)
            })

            socket.on('usersList', ({ users }) => {
                app.userList = users.map((user) => user.username)
            })

            socket.on('endQuiz', () => {
                app.quizAcitve = false
            })
        </script>
    </body>
</html>
