.form {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    form {
        max-width: 60rem;
        input {
            display: block;
            margin-bottom: 2rem;
            height: 4rem;
            font-size: 2rem;
        }
        button {
            cursor: pointer;
        }
    }
}
